* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1c1f2f;
}

.container {
  position: relative;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0001);
}

.container .loader {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 20px solid transparent;
  border-bottom: 20px solid #06c8f0;
  border-right: 20px solid #06c8f0;
  transform: rotateZ(45deg);
  animation: swing 2s ease-in-out infinite;
}

.container .loader .ball {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  animation: ballSwing 2s ease-in-out infinite;
}

.container .loader .ball::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  bottom: 40%;
  right: 0;
  background: white;
  transform: translate(-20px, -40px);
}

@keyframes swing {
  0%,
  100% {
    transform: rotateZ(0);
  }
  50% {
    transform: rotateZ(90deg);
  }
}

@keyframes ballSwing {
  0%,
  100% {
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(180deg);
  }
}
